{
	"path": {
		"builder": "backend/builder/", 
		"servers" : "backend/server/",
		"libaries" : "frontend/libaries/",
		"static" : "frontend/static/",
		"templates": "frontend/templates/",
		"ui" : "frontend/ui-framework/"
	},
	"paths": {},
	"server": {
		"frontend": {
			"domain" : "thynameismud.com",
			"host" : "localhost",
			"port" : 3000	
		}
	},
	"cache" : {
		"host" : "localhost",
		"port" : 3001
	},
	"db" : {
		"host" : "localhost",
		"port" : 3002
	}
}
