		<div class="ui inverted vertical footer segment">
		 	<div class="ui container">
		 		<div class="ui stackable inverted divided equal height grid">
		 			<div class="three wide column">
		 				<h4 class="ui inverted header">About</h4>
		 				<div class="ui inverted link list">
		 					<a href="#" class="item">Contact</a>
		 				</div>
		 			</div>

		 			<div class="three wide column">
		 				<h4 class="ui inverted column">Services</h4>
		 				<div class="ui inverted link list">
		 					<a href="#" class="item">Not That Kind</a>
		 				</div>
		 			</div>

		 			<div class="seven wide column">
		 				<h4 class="ui inverted header">Louis Weber - ThyNameIsMud.com</h4>
		 				<p>Web Design, Software Engineer, Landscaper</p>
		 			</div>
		 		</div>
		 	</div>
		 </div>