	<!-- Following Menu -->
	<div class="ui large top fixed hidden menu">
		<div class="ui container">
			{{#if resume}}
			<a href="/" class="active item">ThyNameIsMud.com</a>
			<a href="/resume" class="item">Resume</a>
			{{else}}
			<a href="/" class="item">ThyNameIsMud.com</a>
			<a href="/resume" class="active item">Resume</a>
			{{/if}}
			<a href="https://github.com/ThyNameIsMud/thynameismud.com" target="_BLANK" class="item">Code</a>
			<div class="right menu">
				<div class="item">
					<a class="ui button">Contact</a>
				</div>
			</div>
		</div>		
	</div>