	{{!< layout/default}}
	<style type="text/css">

	</style>
	<div class="pusher">
		<div class="ui inverted vertircal masthead center aligned segment">
		 	{{! Load Pusher Menu}}
		 	{{> menu.pusher}}

		 	<div class="ui text container">
				<h1 class="ui inverted header">
					Louis Weber IV
				</h1>
				<h2>Web Developer, Software Engineer, Landscaper</h2>
				<div class="ui huge primary button">Contact</div>
		 	</div>
		 </div>

		 <div class="ui vertical stripe segment">
		 	<div class="ui middle aligned stackable grid container">
		 		<div class="row">
		 			<div class="twelve wide column">
		 				<h3 class="ui header">
		 					Seriously, hire him.
		 				</h3>
		 				<p>
		 					Bacon ipsum dolor amet biltong capicola pig, meatball tri-tip bresaola porchetta beef chicken. Tongue salami jerky boudin. Pig fatback rump, chicken shank bacon swine picanha pastrami meatball ribeye meatloaf jerky. Pork loin jerky beef pork beef ribs bresaola hamburger biltong, bacon pancetta. Turducken jerky boudin tenderloin picanha. T-bone cow picanha, strip steak bresaola fatback pig jerky pastrami shoulder turkey doner swine.
		 				</p>
		 			</div>
		 		</div>
		 	</div>
		 </div>

		 {{! Load Footer}}
		 {{> footer}}
		 <script type="text/javascript">
			$(document).ready(function() {

			// fix menu when passed
			$('.masthead')
				.visibility({
					once: false,
					onBottomPassed: function() {
						$('.fixed.menu').transition('fade in');
					},
					onBottomPassedReverse: function() {
						$('.fixed.menu').transition('fade out');
					}
				});

			// create sidebar and attach to menu open
			$('.ui.sidebar')
				.sidebar('attach events', '.toc.item');
		});
		</script>
	</div>
