@import "./easings";

// Global animation duration
$global-animation-duration: 1s !default;

// Global animation easing
$global-animation-easing: $linear !default;

// Global animation delay
$global-animation-delay: ($global-animation-duration * 0.25) !default;

#caboose {
	@include animation-duration($global-animation-duration);
	@include animation-timing-function($global-animation-easing);
	@include animation-delay($global-animation-delay);
}
